* , *::before , *::after{
    margin: 0;
    padding: 0;
}


.contanier{
    width:90%;
    margin:auto;
}


.header{
    width:100%;
    height:100px;
    background-color:#222322;
    border-bottom: 1px solid #fff;

}
.header h1{
    font-size:75px;
    padding: top 5px;
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;

}


.contant2{
   width: 100%;
    height:800px;
    position: relative;
}

.contant2 .section_right{
    width:auto;
    background-color: blue;
    height:auto;
    float: left;
    margin-top:75px;
    margin-left: 250px;
}
 

.contant2 .section_left{
    width:800px;
    height: auto;
    /* background-color: blue; */
    float: left;
    position: relative;
    bottom:150px;


}





.buttons{
    text-align: center;

}